{% extends 'base.html' %}


{% block navlinks %}
  <li>
    <a 
    class="nav-link {% if request.endpoint == 'admin.dashboard' %}active{% endif %}" 
    href="{{ url_for("admin.dashboard") }}"
    >Dashboard</a>
  </li>
  <li>
    <a 
    class="nav-link {% if request.endpoint == 'admin.search' %}active{% endif %}" 
    href="{{ url_for("admin.search") }}"
    >Search</a>
  </li>
  <li>
    <a 
    class="nav-link {% if request.endpoint == 'admin.summary' %}active{% endif %}" 
    href="{{ url_for("admin.summary") }}"
    >Summary</a>
  </li>
{% endblock navlinks %}


{% block sidelink %}
  <a class="btn btn-dark" href="{{ url_for('admin.logout') }}">Logout</a>
{% endblock sidelink %}