{% extends 'base.html' %}


{% block navlinks %}
    <li>
        <a 
        class="nav-link {% if request.endpoint == 'professional.dashboard' %}active{% endif %}" 
        href="{{ url_for("professional.dashboard") }}"
        >Dashboard</a>
    </li>
    <li>
        <a 
        class="nav-link {% if request.endpoint == 'professional.search' %}active{% endif %}" 
        href="{{ url_for("professional.search") }}"
        >Search</a>
    </li>
    <li>
        <a 
        class="nav-link {% if request.endpoint == 'professional.summary' %}active{% endif %}" 
        href="{{ url_for("professional.summary") }}"
        >Summary</a>
    </li>
{% endblock navlinks %}

{% block sidelink %}
    <a class="btn btn-dark" href="{{ url_for("professional.logout") }}">Logout</a>
{% endblock sidelink %}